@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


body {
    background-color:var(--cor1) ;
}

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android' , Verdana , Arial , sans-serif;
    --box-shadow-padrao-texto: 2px 2px 5px rgba(0, 0, 0, 0.400);
    --simbolo-link-externo: "\00a0\1F517";
}

*{
    font-family: var(--font-padrao);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor5);
    text-align: center;
    padding-bottom: 30px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));

}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p{
    color: white;
    font-family: var(--font-padrao);
    padding-bottom: 20px;
    max-width: 700px;
    margin: auto;
    padding-left: 10px;
    padding-right: 20px;
    
}
nav {
    color: white;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: -20px;
    font-size: 0.9em;
    text-decoration: none;
}

nav > a {
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: #2fa866;
    border-radius: 10px;
    transition-duration: 1s;
    color: white;
}

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding-left:30px ;
    padding-right: 30px;
    padding-bottom: 10px;
}
main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 35px;
}
main strong {
color: #063d1e;
text-shadow: var(--box-shadow-padrao-texto);
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
main a:hover {
    background-color: #063d1e;
    color: white;
    transition-duration: 0.5s;
    text-decoration: underline;
}
article h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    font-size: 2em;
}
article h2{
    color: white;
    font-family: var(--fonte-android);
    color: var(--cor4);
    background-image: linear-gradient(to right, #83e1ad, transparent);
    border-radius: 10px;
    padding-left: 10px;
}

main img {
    width: 100%;
}
.pequena {
    width: 200px;
    display: block;
    margin: auto;
}
aside {
    background-color: var(--cor0);
    padding-bottom: 20px;
    margin-top: 20px;
}
aside > ul {
list-style-type: '\2714\00a0\00a0';
columns: 2;
padding: 50px;
}
aside h3 {
    color: white;
    font-size: 1em;
    padding: 10px;
    background-color: #2fa866;
    border-radius: 5px 5px 0px 0px;
}
aside p {
    padding: 10px;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 10px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}
a.externo::after {
    content: var(--simbolo-link-externo);
}

.video {
    position: relative;
	background-color: var(--cor3);
	padding-bottom: 56.25%; 
    padding-top: 25px;
	margin: 0px;
}

.video iframe {
    position: absolute;
    top: 2.5%;
    left: 5%;
    width: 90%;
    height: 95%;


}